@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  width: fit-content;
  cursor: pointer;
}
.translate-50 {
  @apply -translate-x-2/4 -translate-y-2/4;
}
.nav-icon {
  @apply p-[14px] bg-white rounded-full flex items-center justify-center cursor-pointer;
}
.nav-sidebar {
  @apply py-2 px-6 bg-[#EEEDED] rounded-[10px] text-sm lg:text-xl font-semibold;
}
.btn {
  @apply p-2 text-white bg-[#FFB12A] rounded-lg;
}
